@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

$bgBlue: #004f98;
$font-suse: "SUSE", sans-serif;

%flex-stuff {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  height: 100vh;
  background-color: $bgBlue;
  font-family: $font-suse;
  @extend %flex-stuff;
  .profile-generator-block {
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    font-family: $font-suse;
    .social-link-block {
      .generate-profile-btn {
        background-color: $bgBlue;
        color: #fff;
      }
    }
  }
}
